
.canvas-holder{
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  max-height: 500px;
  width: 80vh;
  margin: auto;
  border: 3px solid black;
  margin-bottom: 30px;
  display: flex;
}

svg{
  display: block;
}

.color-holder{
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.color-holder button{
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

.color-holder button:hover,
.color-holder button:focus {
  border: 6px solid black;
}

.choose-images{
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.choose-images button{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: transparent;}

.choose-images button:hover,
.choose-images button:focus{
  border: 4px solid black;
}

.choose-images button div{
  pointer-events: none;
}